.container {
  display: flex;
  flex-wrap: wrap;
}

.controlsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  background-color: #f0f0f0;
  text-align: center;
}

.slide {
  align-items: center;
  background-color: LightGray;
  border: 2px solid DarkGray;
  display: flex;
  font-size: 2em;
  height: 240px;
  justify-content: center;
  margin: 0.5em;
  text-align: center;
  width: 240px;
  display: none;
}

.btn {
  background-color: blue;
  border: transparent;
  border-radius: 0.25em;
  color: white;
  font-size: 1.25em;
  margin: 0 0.25em;
  padding: 0.5em 1em;
}

.is-selected {
  border-color: gold;
  display: block;
}

.btn:disabled {
  opacity: 0.5;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  position: relative;
  background-color: aquamarine;
  display: flex;
}

/* Dropdown button */
.dropdown .dropbtn {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  flex-direction: column;
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 50%;
  overflow: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  bottom: 0%;
  z-index: 1; /* Ensure the dropdown is on top of other elements */

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */


.dropdown-lesson {
  display: none;
  transition: max-height 3s ease-in-out;
}

.active-lesson {
  display: block;
}

.dropdown-content {
  display: none;
}

.active {
  display: flex;
}

.selected {
  background-color: aqua;
}